<ng-container>
    <button class="btn btn-outline-danger mr-3" (click)="get500error()">500 error</button>
    <button class="btn btn-outline-danger mr-3" (click)="get400error()">400 error</button>
    <button class="btn btn-outline-danger mr-3" (click)="get401error()">401 error</button>
    <button class="btn btn-outline-danger mr-3" (click)="get404error()">404 error</button>
    <button class="btn btn-outline-danger mr-3" (click)="get400validationError()">400 validation</button>
</ng-container>